<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs", {title: "Main Page"}) %>
<body>
    <a href="/todo/">Link to List of Todos</a>
    <a href="/user/signup"><button>Signup</button></a>
    <a href="/user/login"><button>Login</button></a>
</body>
</html>