<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs", {title: "Update Todo"}) %>
  <body>

    <form action="/todo/<%= index %>?_method=PUT" method="post">
        <input type="text" name="text" placeholder="place todo text here" value="<%= todo.text %>">
        <input type="submit" value="Update Todo">
    </form>
    
</body>
</html>
