<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {title: "Update Todo"}) %>
<body>

    <form action="/todo" method="post">
        <input type="text" name="text" placeholder="place todo text here">
        <input type="submit" value="Create Todo">
    </form>
    
</body>
</html>