<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {title: "Single Todo View"}) %>
<body>

    <h1><%= todo.text%></h1>
    <a href="/todo/<%= index %>/edit"><button>Edit</button></a>
    <form action="/todo/<%= index %>?_method=DELETE" method="post">
        <input type="submit" value="delete">
    </form>
    
</body>
</html>